@page "/"
@* @attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")] *@

@inject AuthenticationStateProvider _authenticationStateProvider;
@inject IServiceProvider _serviceProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<br />
<div>
    Hello Again
</div>

@code {
    public bool _isAuthenticated;
    private bool _isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _isAuthenticated = user.Identity.IsAuthenticated;
        _isAdmin = user.IsInRole("Admin");

        // if(_isAuthenticated)
        // {
        //     await _roleHandler.CreateUserRoleAsync(user.Identity.Name, "Admin", _serviceProvider);
        // }
    }
}